@page "/"
@inject Interfaces.IEmployeeService Service
@inject Interfaces.IRandomNumberService RandomNumberService
<h3>EmployeeList</h3>
@if (employees != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <td>Name</td>
                <th>Gender</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in employees)
            {
                <tr>
                    <th>@item.EmployeeId</th>
                    <td>@item.EmployeeName</td>
                    <td>@item.Gender</td>
                    <td>@item.Department.DepartmentName</td>
                </tr>
            }
        </tbody>

    </table>
}
@if (randomNumber != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in randomNumber)
            {
                <tr>
                    <th>@item</th>
                </tr>
            }
        </tbody>

    </table>
}

@code {
    private IEnumerable<Models.Employee> employees;
    private List<string> randomNumber;
    protected override async Task OnInitializedAsync()
    {
        employees = await Service.GetEmployees();
        randomNumber = RandomNumberService.GetRandomNumber();
    }
}
